# Gaussian Naive Bayes

In [ ]:
import pandas as pd
import numpy as np

### Load the data

In [ ]:
iris_data = pd.read_csv('Iris.csv')
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
#separate features and target variable
x = iris_data.drop(['Id', 'Species'], axis=1)
y= iris_data['Species']

### Create train and test sets

In [ ]:
#create train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=56)

### Implement Gaussian Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
naive_bayes = GaussianNB()

In [ ]:
#train the model and make predictions
naive_bayes.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
predictions = naive_bayes.predict(x_test)
predictions

array(['Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor'], dtype='<U15')

In [ ]:
#naive_bayes.predict(x_train)

array(['Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor'],
      dtype='<U15')

In [ ]:
# calculate accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9333333333333333

## Multinomial Naive Bayes

### Load the dataset

In [ ]:
tweets_data = pd.read_csv('tweets.csv')
tweets_data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [ ]:
#separate features and target variable
x = tweets_data['tweet']
y = tweets_data['label']

### Create train and test sets

In [ ]:
#create train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=56)

### Create bag-of-words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer(stop_words = 'english')

In [ ]:
import pandas as pd

In [ ]:
# Fit the training data
training_data = count_vector.fit_transform(x_train)
# Transform testing data
testing_data = count_vector.transform(x_test)

In [ ]:
print(training_data)

  (0, 17288)	1
  (0, 15256)	1
  (0, 2427)	1
  (0, 9675)	1
  (0, 10677)	1
  (0, 16187)	1
  (0, 4537)	1
  (0, 2498)	1
  (0, 6583)	1
  (0, 5482)	1
  (0, 13501)	1
  (0, 7548)	1
  (0, 8066)	1
  (0, 4004)	1
  (0, 9077)	1
  (1, 7289)	1
  (1, 1756)	1
  (1, 6238)	1
  (1, 7092)	1
  (1, 9912)	1
  (1, 13677)	1
  (1, 16891)	1
  (1, 3108)	1
  (1, 8242)	1
  (2, 7548)	1
  :	:
  (5542, 9675)	1
  (5542, 8066)	1
  (5542, 4004)	1
  (5542, 7549)	1
  (5542, 10641)	1
  (5542, 14313)	2
  (5542, 1233)	1
  (5542, 3443)	1
  (5542, 12941)	1
  (5542, 10645)	1
  (5542, 16314)	1
  (5542, 11949)	1
  (5542, 644)	1
  (5543, 4004)	1
  (5543, 1756)	2
  (5543, 8242)	1
  (5543, 15825)	1
  (5543, 11997)	1
  (5543, 17262)	1
  (5543, 8752)	1
  (5543, 6552)	1
  (5543, 4387)	1
  (5543, 1802)	1
  (5543, 6210)	1
  (5543, 3075)	1

In [ ]:
td = pd.DataFrame(training_data.todense())
td

,0,1,2,3,4,5,6,7,8,9,...,17699,17700,17701,17702,17703,17704,17705,17706,17707,17708
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5540,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5543,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Implement Multinomial Naive Bayes

In [ ]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()

In [ ]:
#train model and make predictions
naive_bayes.fit(training_data, y_train)
predictions = naive_bayes.predict(testing_data)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8905723905723906

# Bernoulli Naive Bayes

### Load the dataset

In [ ]:
tweets_data = pd.read_csv('tweets.csv')
tweets_data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [ ]:
#separate features and target variable
x = tweets_data['tweet']
y = tweets_data['label']

### Create train and test sets

In [ ]:
#create train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
# Generating Binary Features using countvectorizer
count_vector = CountVectorizer(stop_words = 'english', binary=True)

In [ ]:
# Fit the training data
training_data = count_vector.fit_transform(x_train)

# Transform testing data
testing_data = count_vector.transform(x_test)

In [ ]:
print(training_data)

  (0, 1882)	1
  (0, 4871)	1
  (0, 1634)	1
  (0, 9187)	1
  (0, 1878)	1
  (0, 12297)	1
  (0, 7334)	1
  (0, 5841)	1
  (0, 9401)	1
  (0, 4839)	1
  (0, 13504)	1
  (0, 1676)	1
  (0, 8017)	1
  (0, 2592)	1
  (0, 9460)	1
  (0, 11925)	1
  (0, 12621)	1
  (0, 4396)	1
  (0, 4397)	1
  (0, 9402)	1
  (0, 15310)	1
  (0, 3877)	1
  (0, 9456)	1
  (1, 7334)	1
  (1, 1676)	1
  :	:
  (5304, 11560)	1
  (5304, 7189)	1
  (5304, 2318)	1
  (5304, 8022)	1
  (5304, 2659)	1
  (5304, 15236)	1
  (5304, 3221)	1
  (5304, 13771)	1
  (5304, 10686)	1
  (5304, 11629)	1
  (5304, 16479)	1
  (5305, 7334)	1
  (5305, 8017)	1
  (5305, 8501)	1
  (5305, 6608)	1
  (5305, 727)	1
  (5305, 1687)	1
  (5305, 10560)	1
  (5305, 5714)	1
  (5305, 7843)	1
  (5305, 9325)	1
  (5305, 16319)	1
  (5305, 7061)	1
  (5305, 13298)	1
  (5305, 15624)	1

### Implement Bernoulli Naive Bayes

In [ ]:
from sklearn.naive_bayes import BernoulliNB
naive_bayes = BernoulliNB()

In [ ]:
naive_bayes.fit(training_data, y_train)
predictions = naive_bayes.predict(testing_data)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8978576893649579